#services {
    transition: all 0.3s ease;
}

.container-services {
    margin-top: -12rem;
}

.container-brown-1, .container-brown-2 {
    min-height: 1400px;
}

@media screen and (max-width: 1280px) {
    .container-brown-2 {
        height: 1485px;
    }
}

@media screen and (max-width: 1024px) {
    .container-browns {
        grid-template-columns: 1fr;
    }

    .container-brown-1,
    .container-brown-2 {
        height: auto;
    }
}

@media screen and (max-width: 639px) {
    .container-services {
        margin-top: -8rem;
    }

}

@media screen and (max-width: 420px){
    .container-services {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}